<section>
  {{#with game}}
  <div class="flex-row">
    <div>
      <div class="card review-card-result" style="width: 18rem;">
        <img src="{{background_image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Publishers: </h2>
          <p>{{#each publishers}}
            <a title="" itemprop="name" href="" class="publisher">{{this.name}}</a>
            {{/each}}
          </p>

          <h2>Developers: </h2>
          <p>
            {{#each developers}}
            <a title="" itemprop="name" href="" class="developer">{{this.name}}</a>
            {{/each}}
          </p>

          <p>Released Date: {{released}}</p>
          <p>Genre: {{{genre}}}</p>
        </div>
      </div>
    </div>

    <div class="review-desc">
      <h1 class="game_name review-title">{{name}}</h1>
      <p>{{{description}}}</p>
    </div>

  </div>
  <form action="/review/{{id}}" method="POST" class="comment-form flex-column">
    <h1 class="review-header">Fire Your Review</h1>
    <textarea name="review_text" cols="60" rows="5" placeholder="Leave your Review" class="review-area-text"></textarea>
    <input type="hidden" name="title" value="{{name}}">
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="developers" value="{{getValues developers}}">
    <input type="hidden" name="publishers" value="{{getValues publishers}}">
    <input type="hidden" name="description" value="{{description}}">
    <input type="hidden" name="rating" value="{{rating}}">
    <input type="hidden" name="thumbnail" value="{{background_image}}">
    <input type="hidden" name="genre" value="{{getValues genres}}">
    <input type="hidden" name="released_date" value="{{released}}">
    <button class="create-btn">Fire</button>
  </form>
  {{/with}}

  <div class="reviews-shell">
    <h2>Reviews</h2>
    {{#each reviews}}
    {{!-- <div class="review"> --}}
      <textarea class="rendered_text" name="review-text" id="" cols="60" rows="5">{{review_text}}
        Published by: {{user.email}}
      </textarea>
      {{!-- <span>
        <span class="rendered_text">{{review_text}}</span>
      </span>
      <div class="review_publish_date">Published by: {{user.email}}</div> --}}
    {{!-- </div> --}}
    {{/each}}
  </div>
 
</section>
